


body
{
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.product-thumbnail {
  max-width: 30%;
}

.accordion {
  background-color: #152B07;
}

.owl {
  margin-left: 20px;
}
.owl:hover {
  color: #62af9a;
  cursor: pointer;
}

